<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.mlbz521.ReliableEnrollment</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-c</string>
		<string>(/Library/Application\ Support/JAMF/tmp/jamf_ReliableEnrollment.sh)</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>600</integer>
	<key>AbandonProcessGroup</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/var/log/jamf_ReliableEnrollment.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/jamf_ReliableEnrollment.log</string>
</dict>
</plist>